<div id="endpoint-form" class="col-md-12">
  <div>
    <h5>Add new endpoint</h5>
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="friendlyName">Friendly Name</label>
    <input id="friendlyName" class="col-md-12" [(ngModel)]="endpoint.friendlyName" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="host">Host</label>
    <input id="host" class="col-md-12" [(ngModel)]="endpoint.host" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="port">Port</label>
    <input id="port" class="col-md-12" [(ngModel)]="endpoint.port" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="oid">OID</label>
    <input id="oid" class="col-md-12" [(ngModel)]="endpoint.oid" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="community">Community</label>
    <input id="community" class="col-md-12" [(ngModel)]="endpoint.community" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="supportGrouping">Support Grouping</label>
    <input id="supportGrouping" type="checkbox" [checked]="endpoint.supportGrouping" (change)="endpoint.supportGrouping = !endpoint.supportGrouping"/>
  </div>
  <button class="btn btn-primary col-md-12" (click)="test()">Test</button>
  <button class="btn btn-success col-md-12" (click)="addEndpoint()">Add</button>

  <div class="test-results-box" *ngIf="endpointData">
    <p *ngFor="let node of endpointData">
      <span style="display: block;"><strong>OID</strong> {{node.oid}}</span>
      <span style="display: block;"><strong>Value</strong> {{node.value}}</span>
    </p>
  </div>
</div>
