<div id="endpoint-form" class="col-md-12">
  <div>
    <h5>Add new endpoint</h5>
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="friendlyName">Friendly Name*</label>
    <input placeholder="lorem ipsum" id="friendlyName" class="col-md-12" [(ngModel)]="endpoint.friendlyName" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="description">Description</label>
    <input placeholder="this data is so cool" id="description" class="col-md-12" [(ngModel)]="endpoint.description" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="host">Host*</label>
    <input placeholder="demo.snmplabs.com" id="host" class="col-md-12" [(ngModel)]="endpoint.host" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="port">Port*</label>
    <input placeholder="161" id="port" class="col-md-12" [(ngModel)]="endpoint.port" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="oid">OID*</label>
    <input placeholder="1,3,6,1,2,1,1" id="oid" class="col-md-12" [(ngModel)]="endpoint.oid" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="community">Community*</label>
    <input placeholder="public" id="community" class="col-md-12" [(ngModel)]="endpoint.community" />
  </div>
  <div class="col-md-12">
    <label class="col-md-12 no-hor-padding" for="supportGrouping">Support Grouping</label>
    <input id="supportGrouping" type="checkbox" [checked]="endpoint.supportGrouping" (change)="toggleGrouping()"/>
  </div>
  <div id="grouping-box" *ngIf="endpoint.supportGrouping" class="col-md-12">
    <button class="btn btn-primary col-md-12" (click)="addMatchingGroup()">Add Matching Group</button>
    <div class="grouping" *ngFor="let group of endpoint.groupingMatch; let i = index">
      <input class="col-md-12" placeholder="Original" type="text" [(ngModel)]="group.original"/>
      <input class="col-md-12" placeholder="Result" type="text" [(ngModel)]="group.result"/>
      <div class="remove-btn" (click)="removeMatchingGroup(i)">X</div>
    </div>
    <button class="btn btn-primary col-md-12" (click)="addBetweenGroup()">Add Between Group</button>
    <div class="grouping" *ngFor="let group of endpoint.groupingBetween; let i = index">
      <input class="col-md-12" placeholder="From" type="number" [(ngModel)]="group.from"/>
      <input class="col-md-12" placeholder="To" type="number" [(ngModel)]="group.to"/>
      <input class="col-md-12" placeholder="Result" type="text" [(ngModel)]="group.result"/>
      <div class="remove-btn" (click)="removeBetweenGroup(i)">X</div>
    </div>
  </div>
  <button class="btn btn-primary col-md-12" (click)="test()">Extract Subtree</button>
  <button class="btn btn-success col-md-12" (click)="addEndpoint()">Add</button>

  <div id="test-results-box" *ngIf="endpointData.length">
    <p *ngFor="let node of endpointData">
      <span style="display: block;"><strong>OID</strong> {{node.oid}}</span>
      <span style="display: block;"><strong>Value</strong> {{node.value}}</span>
    </p>
  </div>
  <div *ngIf="loading" class="lds-hourglass"></div>
</div>
