<div class="row">
  <div class="menu" [ngClass]="{'col-md-e' : isMenuOpen, 'col-md-1' : !isMenuOpen}">
    <div *ngIf="isMenuOpen" (click)="isMenuOpen = false" class="nav-toggler">Hide</div>
    <div *ngIf="!isMenuOpen" (click)="isMenuOpen = true" class="nav-toggler">Show</div>
    <div class="endpoint" (click)="select(endpoint)" *ngFor="let endpoint of endpoints" [ngClass]="{'selected-endpoint': selectedEndpoint && endpoint.oid === selectedEndpoint.oid }">
      <div>{{endpoint.host}}:{{endpoint.port}}</div>
      <div>({{endpoint.oid}})</div>
    </div>
  </div>
  <div [ngClass]="{'col-md-9' : isMenuOpen, 'col-md-11' : !isMenuOpen}" class="col-md-8">
    <div *ngIf="selectedEndpoint" class="col-md-12 title">
      <h3>{{selectedEndpoint.host}}:{{selectedEndpoint.port}}</h3>
      <h4>({{selectedEndpoint.oid}})</h4>
    </div>
    <app-line-chart [set]="lineChartData" [settings]="lineChartSettings"></app-line-chart>
    <app-pie-chart [set]="pieChartData" [settings]="lineChartSettings"></app-pie-chart>
  </div>
</div>
