<div class="row">
  <div class="menu no-hor-padding" [ngClass]="{'col-md-2' : isMenuOpen, 'col-md-1' : !isMenuOpen}">
    <div *ngIf="isMenuOpen" (click)="isMenuOpen = false" class="nav-toggler special-color">&larr;</div>
    <div *ngIf="!isMenuOpen" (click)="isMenuOpen = true" class="nav-toggler special-color">&rarr;</div>
    <div class="endpoint" (click)="select(endpoint)" *ngFor="let endpoint of endpoints" [ngClass]="{'selected-endpoint': selectedEndpoint && endpoint.oid === selectedEndpoint.oid }">
      <div *ngIf="!isMenuOpen">
        {{endpoint.friendlyName}}
      </div>
      <div *ngIf="isMenuOpen">
        <div>
          <strong>{{endpoint.friendlyName}}</strong>
        </div>
        <div>{{endpoint.host}}:{{endpoint.port}}</div>
        <div>({{endpoint.oid}})</div>
      </div>
    </div>
    <div id="snmp-endpoint-form" class="col-md-12" *ngIf="isMenuOpen">
      <app-snmp-endpoint-form></app-snmp-endpoint-form>
    </div>
  </div>
  <div class="no-hor-padding" [ngClass]="{'col-md-10' : isMenuOpen, 'col-md-11' : !isMenuOpen}">
    <div *ngIf="selectedEndpoint" class="col-md-12 title">
      <h4>
        <strong class="special-color">HOST: </strong>{{selectedEndpoint.host}}
      </h4>
      <h4>
        <strong class="special-color">PORT: </strong>{{selectedEndpoint.port}}
      </h4>
      <h4>
        <strong class="special-color">OID: </strong>({{selectedEndpoint.oid}})
      </h4>
    </div>
    <div class="col-md-12 node-result" *ngFor="let node of nodes; let i = index">
      <div class="row">
        <div class="col-md-8">
          <app-line-chart [set]="mapToLineChart(node.responses)" [settings]="mapLineSettings(node, i)"></app-line-chart>
        </div>
        <div class="col-md-4">
          <app-pie-chart [set]="mapToPieChart(node.responses)" [settings]="mapPieSettings(node, i)"></app-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
