<div class="row">
  <div class="menu no-hor-padding" [ngClass]="{'col-md-2' : isMenuOpen, 'col-md-1' : !isMenuOpen}">
    <div *ngIf="isMenuOpen" (click)="isMenuOpen = false" class="nav-toggler special-color">&larr;</div>
    <div *ngIf="!isMenuOpen" (click)="isMenuOpen = true" class="nav-toggler special-color">&rarr;</div>
    <div 
    class="endpoint" 
    (click)="select(endpoint)" 
    *ngFor="let endpoint of endpoints" 
    [ngClass]="{'selected-active-endpoint': selectedEndpoint && endpoint.oid === selectedEndpoint.oid && endpoint.status.id === status.Active.id, 
      'selected-deactivated-endpoint': selectedEndpoint && endpoint.oid === selectedEndpoint.oid && endpoint.status.id === status.Deactivated.id,
      'deactivated-endpoint': (!selectedEndpoint || endpoint.oid !== selectedEndpoint.oid) && endpoint.status.id === status.Deactivated.id}">
      <div *ngIf="!isMenuOpen">
        {{endpoint.friendlyName}}
      </div>
      <div *ngIf="isMenuOpen">
        <div>
          <strong>{{endpoint.friendlyName}}</strong>
        </div>
        <div>{{endpoint.host}}:{{endpoint.port}}</div>
        <div>{{endpoint.oid}}</div>
        <div class="dropdown col-md-12">
          <button class="btn btn-secondary col-md-12" (click)="toggleShowStatuses(endpoint);$event.stopPropagation()">
            {{endpoint.status.name}}
          </button>
          <div [ngClass]="{'dropdown-menu': !endpoint.showStatuses === true}">
            <a *ngIf="endpoint.status.id !== status.Active.id" class="dropdown-item" (click)="setStatus(endpoint, status.Active);$event.stopPropagation()">Activate</a>
            <a *ngIf="endpoint.status.id !== status.Deactivated.id" class="dropdown-item" (click)="setStatus(endpoint, status.Deactivated);$event.stopPropagation()">Deactivate</a>
            <a *ngIf="endpoint.status.id !== status.Deleted.id" class="dropdown-item" (click)="setStatus(endpoint, status.Deleted);$event.stopPropagation()">Delete</a>
          </div>
        </div>
        <div class="groups-preview" *ngIf="endpoint.supportGrouping">
          <div class="group-preview" *ngFor="let match of endpoint.groupingMatch">
            <div>
              <strong>original: </strong>{{match.original}}
            </div>
            <div>
              <strong>result: </strong>{{match.result}}
            </div>
          </div>
          <div class="group-preview" *ngFor="let between of endpoint.groupingBetween">
            <div>
              <strong>from: </strong>{{between.from}}
            </div>
            <div>
              <strong>to: </strong>{{between.to}}
            </div>
            <div>
              <strong>result: </strong>{{between.result}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="snmp-endpoint-form" class="col-md-12" *ngIf="isMenuOpen">
      <app-snmp-endpoint-form (addedSNMPEndpoint)="addedSNMPEndpoint($event)"></app-snmp-endpoint-form>
    </div>
  </div>
  <div class="no-hor-padding" [ngClass]="{'col-md-10' : isMenuOpen, 'col-md-11' : !isMenuOpen}">
    <div *ngIf="selectedEndpoint" class="col-md-12 title">
      <h4>
        <strong class="special-color">HOST: </strong>{{selectedEndpoint.host}}
      </h4>
      <h4>
        <strong class="special-color">PORT: </strong>{{selectedEndpoint.port}}
      </h4>
      <h4>
        <strong class="special-color">OID: </strong>{{selectedEndpoint.oid}}
      </h4>
    </div>
    <div class="col-md-12 node-result" *ngFor="let node of nodes; let i = index">
      <div class="row">
        <div class="col-md-12">
          <h4 class="endpoint-description">{{selectedEndpoint.description}}</h4>
        </div>
        <div class="col-md-8">
          <app-line-chart [set]="mapToLineChart(node.responses)" [settings]="mapLineSettings(node, i)"></app-line-chart>
        </div>
        <div class="col-md-4">
          <app-pie-chart *ngIf="selectedEndpoint.supportGrouping" [set]="mapToPieChart(node.responses)" [settings]="mapPieSettings(node, i)" (selectGroup)="selectGroup($event)"></app-pie-chart>
          <p>Click on a group to see details.</p>
        </div>
      </div>
    </div>
    <div *ngIf="responsesForDetailReview.length" class="col-md-12 detail-review-table">
      <div class="row">
        <div class="col-md-3">
          <strong>OID</strong>
        </div>
        <div class="col-md-3">
          <strong>Date</strong>
        </div>
        <div class="col-md-3">
          <strong>Group</strong>
        </div>
        <div class="col-md-3">
          <strong>Value</strong>
        </div>
      </div>
      <div class="col-md-12 group-data-grid">
        <div class="row" *ngFor="let response of responsesForDetailReview">
          <div class="col-md-3">{{response.oid}}</div>
          <div class="col-md-3">{{response.dateticks | date:'medium'}}</div>
          <div class="col-md-3">{{response.group}}</div>
          <div class="col-md-3">{{response.value}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
