.endpoint {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 20px;
  cursor: pointer;
  border-bottom: 2px solid darkgray;
  word-wrap: break-word;
}

.node-control-plane {
  padding-top: 20px;
}

.selected-active-endpoint {
  background-color: darkolivegreen;
}

.selected-deactivated-endpoint {
  background-color: darkseagreen;
}

.deactivated-endpoint {
  background-color: lightgray;
}

.menu {
  padding: 0px;
  text-align: center;
  background-color: darkgray;
  border-right: 1px solid;
}

.nav-toggler {
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  background-color: darkgray;
  height: 110px;
}

.title {
  text-align: center;
  background-color: darkgray;
  color: white;
  height: 110px;
}

.no-hor-padding {
  padding-left: 0;
  padding-right: 0;
}

.special-color {
  color: #0069d9;
}

#snmp-endpoint-form {
  background-color: steelblue;
  padding: 10px;
}

.groups-preview {
  text-align: left;
}

.group-preview {
  border: 1px solid;
  padding: 5px;
  margin-top: 5px;
}

.endpoint-description {
  padding: 20px;
}

.detail-review-table {
  height: 100%;
  border: 1px solid;
}

.detail-review-table .row {
  border-bottom: 0.5px solid gray;
}

.dropdown-item {
  background-color: white;
  border: 1px solid;
}

.status {
  border: 1px solid;
}

.active {
  background-color: #234f1e !important;
}

.pie-chart {
  display: flex;
  justify-content: center;
}
