.sidenav {
  padding: 0;
  text-align: center;
  background-color: darkgray;
  border-right: 1px solid;
}

.sidenav .nav-toggler {
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  background-color: darkgray;
  height: 110px;
}

.sidenav .endpoint {
  padding: 10px 5px 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid darkgray;
  word-wrap: break-word;
}

.sidenav .dropdown-item {
  background-color: white;
  border: 1px solid;
}

.sidenav .status {
  border: 1px solid;
}

.sidenav .active {
  background-color: #234f1e !important;
}

.sidenav .selected-active-endpoint {
  background-color: darkolivegreen;
}

.sidenav .selected-deactivated-endpoint {
  background-color: darkseagreen;
}

.sidenav .deactivated-endpoint {
  background-color: dimgray;
}

.sidenav #snmp-endpoint-form {
  background-color: steelblue;
  padding: 10px;
}

.sidenav .new-group {
  border: 1px solid;
  padding: 5px;
  margin-top: 5px;
}

.main .node-control-plane {
  padding-top: 20px;
}

.main .title {
  text-align: center;
  background-color: lightslategray;
  color: white;
  height: 110px;
}

.main .title strong {
  color: black;
}

.main .title h5 {
  margin-bottom: 3px;
}

.main .endpoint-description {
  padding: 20px;
}

.main .filter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.main .detail-review-table {
  text-align: center;
  border: 1px solid;
}

.main .detail-review-table .row {
  border-bottom: 1px solid gray;
}

.main .pie-chart {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.no-hor-padding {
  padding-left: 0;
  padding-right: 0;
}
